<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Projects made by me</h1>
        <p class="lead text-muted">Until the projects are all hosted on Heroku, here are the snapshots of my projects with details inside. Please contact me if you want to see the working project.</p>
        <p>
        <%= link_to "About Me", about_me_path, class: "btn btn-primary"%>
        <%= link_to "My Blog", blogs_path, class: "btn btn-secondary"%>
        </p>
    </div>
</section>




