
<footer class="text-muted">
    <div class="container">
        <p class="float-right">
        <p><%= copyright_generator%></p>
        <a href="#">Back to top</a>
        </p>
    </div>
</footer>
