<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile.jpg"  , width: 290, alt: "profile image"%>
    </div>

    <div class="col-md-8">
        <p>Ruby on Rails, ReactJS & Bootstrap are my main fields of knowledge. Also an SEO hobbyist who prefers VIM over anything else.
        Prefer clean code over more functionalities , ALWAYS. It is the responsibility of the developer to protect the code.</p>
        <p>BTech student at Jaypee University Of Information Technology, Waknaghat. From Kullu, Himachal Pradesh, India.</p>
            
    </div>
</div>
