

<div class="inner cover">
    <h1 class="cover-heading">Ruby On Rails + React</h1>
    <p class="lead">This is the portfolio + blog for myself. Want to know more? Click on the button below!</p>
    <p class="lead">
        <%=link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
    </p>
</div>

